---
title: "How to: Create Custom Graphs in Load Test Results"
ms.custom: na
ms.date: "10/03/2016"
ms.prod: "visual-studio-tfs-dev14"
ms.reviewer: na
ms.suite: na
ms.tgt_pltfrm: na
ms.topic: "article"
helpviewer_keywords: 
  - "load test results graphs, creating"
  - "load test results graphs"
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
caps.latest.revision: 30
ms.author: "ahomer"
manager: "douge"
translation.priority.ht: 
  - "cs-cz"
  - "de-de"
  - "es-es"
  - "fr-fr"
  - "it-it"
  - "ja-jp"
  - "ko-kr"
  - "pl-pl"
  - "pt-br"
  - "ru-ru"
  - "tr-tr"
  - "zh-cn"
  - "zh-tw"
---
# How to: Create Custom Graphs in Load Test Results
You can design graphs that display specific information about load test results. You design a custom graph by specifying the load test counters that the graph will display.  
  
 You can perform the following procedure either while a load test is running or after it has finished running.  
  
 **Requirements**  
  
-   Visual Studio Enterprise  
  
### To create a custom load test results graph  
  
1.  On the Load Test toolbar, choose **Add New Graph**.  
  
     \- or -  
  
     On the Load Test Analyzer, right-click in the Counters panel or in a graph, and then select **Add Graph**.  
  
     The **Enter Graph Name** dialog box is displayed.  
  
2.  Under **Graph name**, type a name for the graph, and choose **OK**.  
  
     The new graph appears in the Load Test Analyzer. It appears in the currently selected graph panel; it replaces the graph that was displayed in that panel.  
  
3.  Customize the new graph by adding counters. For more information, see [How to: Add and Delete Counters on Graphs](../test/how-to--add-and-delete-counters-on-graphs-in-load-test-results.md).  
  
## See Also  
 [Analyzing Load Test Results in the Graphs View](../test/analyzing-load-test-results-in-the-graphs-view-of-the-load-test-analyzer.md)   
 [How to: Add and Delete Counters on Graphs](../test/how-to--add-and-delete-counters-on-graphs-in-load-test-results.md)   
 [How to: Tile Graphs](../test/how-to--tile-graphs-in-load-test-results.md)