---
title: "How to: Tile Graphs in Load Test Results"
ms.custom: na
ms.date: "10/03/2016"
ms.prod: "visual-studio-tfs-dev14"
ms.reviewer: na
ms.suite: na
ms.tgt_pltfrm: na
ms.topic: "article"
helpviewer_keywords: 
  - "load test results graphs, tiling"
  - "load test results"
ms.assetid: 2abbc2ce-522f-46d9-a261-455dc3eff28c
caps.latest.revision: 26
ms.author: "ahomer"
manager: "douge"
translation.priority.ht: 
  - "cs-cz"
  - "de-de"
  - "es-es"
  - "fr-fr"
  - "it-it"
  - "ja-jp"
  - "ko-kr"
  - "pl-pl"
  - "pt-br"
  - "ru-ru"
  - "tr-tr"
  - "zh-cn"
  - "zh-tw"
---
# How to: Tile Graphs in Load Test Results
You can arrange load test results graphs in any of several patterns. You can tile up to four graphs both while a load test is running, or when the load test has completed using the Load Test Analyzer. For more information, see [Load Test Analyzer Overview](../test/load-test-analyzer-overview.md).  
  
 **Requirements**  
  
-   Visual Studio Enterprise  
  
### To tile load test results graphs  
  
1.  In the Load Test Analyzer, choose **Graphs** on the load test toolbar.  
  
     This displays load test results in graphs.  
  
2.  On the load test toolbar, choose the down arrow next to the panels button.  
  
    > [!NOTE]
    >  The name of this button, as indicated by the hover text for it, matches the last selection that was made with the button, such as **Four Panels Grid**.  
  
     Clicking this arrow displays all the options for tiling the load test results graphs.  
  
3.  Select a tiling option, such as **Three Panels Weighted Right**.  
  
     The graphs are displayed in the tiling orientation that you chose.  
  
4.  (Optional) To display a different graph in a particular position, select the graph you want, such as "Controller and Agents," in the drop-down list above the currently displayed graph.  
  
     The graph that you chose is displayed in the position where you made the selection.  
  
## See Also  
 [Analyzing Load Test Results in the Graphs View](../test/analyzing-load-test-results-in-the-graphs-view-of-the-load-test-analyzer.md)   
 [Analyzing Load Test Results in the Graphs View](../test/analyzing-load-test-results-in-the-graphs-view-of-the-load-test-analyzer.md)   
 [How to: Create Custom Graphs](../test/how-to--create-custom-graphs-in-load-test-results.md)