<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Trin_ExcelAddInDatabase_O12.Properties.Settings.AdventureWorksLTConnectionString" connectionString="Data Source=np:trinuetest;Initial Catalog=AdventureWorksLT;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup/></configuration>
