---
title: "Examining web performance test results"
ms.custom: na
ms.date: "09/28/2016"
ms.prod: "visual-studio-tfs-dev14"
ms.reviewer: na
ms.suite: na
ms.tgt_pltfrm: na
ms.topic: "article"
helpviewer_keywords: 
  - "Web performance tests, Web Performance Test Viewer"
  - "Web Performance Test Viewer"
ms.assetid: 21ab71a2-c47c-4623-832d-d4336d68ec8d
caps.latest.revision: 18
ms.author: "ahomer"
manager: "kamrani"
translation.priority.ht: 
  - "cs-cz"
  - "de-de"
  - "es-es"
  - "fr-fr"
  - "it-it"
  - "ja-jp"
  - "ko-kr"
  - "pl-pl"
  - "pt-br"
  - "ru-ru"
  - "tr-tr"
  - "zh-cn"
  - "zh-tw"
---
# Examining web performance test results
This topic has been merged with others. Please go to [After the test is finished, the test results are updated](assetId:///bd0a82fd-cec0-4861-bc09-e1b0b2d258ef#CreatingNewWebPerfTest_WebTestResults).